/* Polices */
* {font-family: 'Raleway', sans-serif;}
/* Body */
body{
    margin: 3%;
    margin-top: 2px;
    width: 90
}
/* Partie header */
header{
    display: flex;
    justify-content: space-between;
    height: 104px;
}
#booki {
    width:61.09 px;
    height: 19px;
    position: absolute;
    left: 55px;
    top: 44px;
}
nav ul {
    display:flex;
    margin-top: 0px;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    margin-right: 30px;
    justify-content: space-between;
    padding: 40px;
}
nav a {
    padding: 40px;
    text-decoration: none;
    color: black;
}
nav a:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
}
/* Partie post-header */
#main_title p {
    position: relative;
    bottom: 10px;
    font-size: 16px;
}
/* Barre de recherche */
form p {
    display: flex;
    box-sizing: content-box;
    height: 50px;
}

#gps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    width: 50px;
    box-sizing: border-box;
    border-radius: 16px 0 0 16px;
}

#rechercher {
    background-color: #0065FC;
    color: white;
    width: 132px;
    height: 50px;
    border-radius: 0 16px 16px 0;
    font-weight: bold;
    font-size: 18px;
    border: #0065FC;
}

#field {
    width: 200px;
    padding: 16px 20px;
    font-weight: bold;
    color: black;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    border-left: #F2F2F2 1px solid;
    border-right: #0065FC
}
::placeholder { 
    color: black;
    opacity: 1; /* Firefox */
  }
/* Filtres */
div ul i {
    color: #0065FC;
  }
.filtre {
    width: 870px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;

  }

  .icon_filtre{

    padding-right: 15px;
  }

  div ul li {
    border: 1px #D9D9D9 solid;
    padding: 9px 17px 9px 17px;
    border-radius: 25px;
    color: black;
    text-decoration: none;
  }

  div ul a {
    text-decoration: none;
  }

  div ul li:hover {
    background-color: #DEEBFF ;
  }

  /* info quote */
  #i {
    color: #0065FC;
    margin-right: 15px;
    padding: 7px 12px 8px 13px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    size: auto;
  }

  /* Hébergement à marseille */
.card {
    background-color: white;
    width: 246px;
    height: 199px;
    border-radius: 20px;
}
.box {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    height: 626px;
    width: 880px;
    left: 0px;
    top: 0px;
    border-radius: 20px;

}
#card_lot_1 {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    height: 450px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    top: 25px;

}
.container img {
    object-fit: cover;
}
article img {
    width: 246px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}
.box H4, .box p {
    margin: 5px;
}
.fa-solid {
    color: #0065FC;
    position: relative;
    left: 5px;
}
.description {
    margin-left: 14px;
    position: relative;
    bottom: 4px;
}
.grey {
    color: #F2F2F2;
}
.box h2, .box h3 {
    margin-left: 40px;
}
.box h2 {
    position: relative;
    top: 16px;
}