    /*================Polices================*/
* {font-family: 'Raleway', sans-serif;}
a {
    text-decoration: none;
    color: black
}
/*=================BODY==================*/
* {
    list-style-type: none;
}
body {
    width: 95%; /* 5% sur chaque côté pour laisser une marge */
    margin: auto;
}
/*=================HEADER=================*/
header {
    display: flex;
    justify-content: space-between;
    height: 95px;
}
#booki { /* Placement du logo */
    width: 61px;
    height: 19px;
    margin-top: 36px;
}
header nav ul {
    display: flex;
}
header li {
padding-top: 22px;
}
header nav a {
    padding: 35px;
}
header nav a:hover {
    border-top: 3px #0065FC solid;
    color: #0065FC;
}
/*================POST-HEADER================*/
h1 {
    font-size: 22px;
}
/*================SEARCH BAR=================*/
form p {
    display: flex;/* Alignement de la searchbar */
}

#gps {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 50px;
    border-radius: 16px 0 0 16px;
}
#field {
    width: 200px;
    padding: 16px 20px;
    font-weight: bold;
    color: black;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    border-left: #F2F2F2 1px solid;
    border-right: #0065FC
}
#rechercher {
    background-color: #0065FC;
    color: white;
    width: 132px;
    height: 50px;
    border-radius: 0 16px 16px 0;
    font-weight: bold;
    font-size: 18px;
    border: #0065FC;
}
::placeholder { 
    color: black;
    opacity: 1; /* Firefox */
  }
/*================FILTERS================*/
div ul i {
    color: #0065FC; /* Icon colors */
  }
#lib_filtre { /* Alignement de toute la partie filtre */
    display: flex;
    align-items: center;
}
#lib_filtre p {
    font-size: 18px;
    font-weight: bold;
}
#filtre {
    width: 60em;
    display: flex; /* Flexbox des 4 éléments filtre */
    flex-wrap: wrap; 
  }
.icon_filtre{
    padding-right: 15px;
  }
.sous-filtre { /* Encadrement des filtres */
    border: 1.5px #D9D9D9 solid;
    padding: 9px 17px 9px 17px;
    margin: 15px;
    border-radius: 25px;
    font-weight: bold;
  }
.sous-filtre:hover {
    background-color: #DEEBFF ;
  }
#filtre li{
    margin: 15px 0; /* Gestion de l'espacement en colonne après redimension */
}
/*================INFO QUOTE================*/
#i {
    color: #0065FC;
    margin-right: 15px;
    padding: 7px 12px 8px 13px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
  }
/*==================CARDS 1==================*/
.card {
    height: 199px;
    max-width: 246px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px #ede6e6 ;
}
.pic_container {
    height: 124px;
    border-radius: 20px 20px 0 0;
}
.pic_container img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 96%;
    height: 92%;
    border: 5px white solid; /* White border */
}
.card h4, .card p, .stars {
    margin-left: 14px;
    margin-top: 0px;
    margin-bottom: 7px;
    width: 220px;
}
/*==================CARDS 2==================*/
.card2 {
    height: 144px;
    max-width: 343px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px #ede6e6;
}
.card2 a{
    display: flex;
}
.pic_container2 {
    height: 144px;
    width: 137px;
    border-radius: 20px 0 0 20px;
}
.pic_container2 img {
    object-fit: cover;
    width: 137px;
    height: 93%;
    border: 5px white solid;
    border-radius: 20px 0 0 20px;
}
.column {
    margin-left: 26px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_text h4, .card_text p {
    margin: 0px;
    margin-top: 7px;
}
.stars2 {
    margin-bottom: 10px;
}
/*================SECTION 1================*/
.fa-star {
    color:#0065FC;
}
.grey {
    color:#F2F2F2;;
}
#hide {
    display: none; /* W3C validator */
}
img {
    display: ;
}
#hebergement {
    background-color:  #F2F2F2;
    border-radius: 20px;
    width: 60%;
}
/* Ne pas oublier de commit */