/*================Polices================*/
* {font-family: 'Raleway', sans-serif;}
a {
    text-decoration: none;
    color: black
}
/*================BODY================*/
* {
    list-style-type: none;
}
/*================HEADER================*/
header {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    height: 100px;
}
#booki {
    width: 61px;
    height: 19px;
    margin-top: 36px;
}
header nav ul {
    display: flex;
}
header nav ul li{
    margin-top: -24px;
    padding: 40px;
}
header a:hover {
    border-top: 3px #0065FC solid;
}
/*================Polices================*/
/*================Polices================*/
/*================Polices================*/
/*================Polices================*/
